

Flask==1.1.2

mlflow==1.23.1

nltk==3.5
notebook==6.4.12

numpy==1.18.4

pandas==1.0.3

Pillow==9.0.0

pylint==2.5.2
pymongo==3.10.1

requests==2.23.0

scikit-learn==0.23.0
scipy==1.4.1
seaborn==0.10.1

tqdm==4.46.0
flask_cors
xgboost==1.0.2
Flask-PyMongo